<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>
<h1>All Plants</h1>

<h3><a href="/plants/new">Add new plant</a></h3>

<hr />
<div class="row">

</div>
<div class="plant">

  <% for plant in @plants %>
  <div class="plant-info">

    <p>Name: <a class="name" href="/plants/<%= plant.id %>"> <%= plant.name %></a></p>
    <p>Special Feature:  <%=plant.usp %></p>
    <p>Stock Quantity:  <%=plant.stock_quantity %> units</p>
    <p>Buying Cost:  £<%=plant.buying_cost %></p>
    <p>Selling Price:  £<%=plant.selling_price %></p>
    <p>Stock level status: <%=plant.stock_status %></p>
    <p>Mark Up Value: £<%=plant.mark_up %></p>
    <p>Plant Type: <%=plant.plant_type %></p>
    <p>Nursery: <%= plant.nursery.name %></p>


    <a class="name" href="/plants/<%= plant.id %>">
    <img class="plant_logo" src="/images/<%= plant.name.downcase%>.jpg" alt="<%= plant.name.downcase%>">
  </a>

    <hr />
  </div>
  <% end %>

</div>
