<div class='container' id="home-container">
  <h1 id='title'>Plant Life</h1>
<h1>All Nurseries</h1>
<h3><a href="/nurseries/new">Add nursery</a></h3>
<hr />
<div class="row">
  <p></p>
</div>
<div class="plant">

  <% for nursery in @nursery %>
  <div class="plant-info"
  id="<%= nursery.name %>">

    <p>Nursery: <a class="name" href="/nurseries/<%= nursery.id %>"> <%=nursery.name %></a></p>
    <p>Location:  <%= nursery.location %></p>
    <p>Plants available from this nursery:
      <ul>
        <% nursery.plants.each do |plant| %>
          <li><%= plant.name %></li>
        <% end %>
      </ul>
    <a class="name" href="/nurseries/<%= nursery.id %>">
    <img class="nursery_logo" src="/images/<%= nursery.name.downcase%>.jpg" alt="<%= nursery.name.downcase%>">
    </a>




    <hr />
  </div>
  <% end %>

</div>
